{{ 'most-reviewd-test-section.css' | asset_url | stylesheet_tag }}


   <section class="featured-collections text-black ssssssssssssssssssssssss">
        <div class="featured-collections__header">
        
            <div class="container ">
                <div class="row align-items-center justify-content-md-start justify-content-between">
                    <div class="col-md-6 col-auto">
                        <h2 class="text-black" id="most_reviewd_heading">{% if section.settings.most_reviewd_heading %}{{ section.settings.most_reviewd_heading }}{% endif %} </h2>
                    </div>
                    <div class="col-md-6 text-md-right py-md-0 py-2 text-black col-auto">
                       
                     
                      <a href="{{ section.settings.shop_all_anker }}" class="link-text"> {{ section.settings.shop_all_text }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-collections__showcase">
            <div class="container">
                <div class="carousel-wrapper">
                    <!-- if blocks > 4 : carousel-init -->
                    <div class="product-blocks product-blocks--carousel-sm {% if collections[section.settings.slider_collection].all_products_count > 4 %}carousel-init {% endif %}">
                        



 {% for product in collections[section.settings.slider_collection].products  %}
                      

                      
                      <div class="product-block">
                            <div class="product-block__inner">
                                <a href="#" class="product-block__image">


                                  
                                    <img src="{{ product.images[0].src | product_img_url: 'medium' }}" alt="Daily spf">
                                </a>
                                <div class="product-block__meta">
                                    <p class="product-title text-orange"><a href="#">{{ product.title }}</a></p>
                                    <p class="product-description text-black">{{ product.description }}
                                    </p>
                                    <div class="ratings text-orange">
                                        <span>
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 20.62 20.28" width="20" fill="currentColor"
                                                style="enable-background:new 0 0 20.62 20.28;" xml:space="preserve">
                                                <g>
                                                    <path d="M1.35,8.29c0.1-0.18,0.16-0.39,0.3-0.52C1.79,7.64,2,7.56,2.19,7.53C3.8,7.3,5.4,7.07,7,6.85C7.18,6.83,7.28,6.76,7.36,6.6
    C8.08,5.18,8.8,3.75,9.52,2.33c0.2-0.39,0.51-0.57,0.91-0.52c0.34,0.04,0.55,0.24,0.69,0.53c0.7,1.38,1.4,2.76,2.09,4.14
    c0.12,0.25,0.28,0.36,0.56,0.39c1.56,0.2,3.11,0.44,4.66,0.65c0.38,0.05,0.67,0.22,0.79,0.58c0.12,0.36-0.01,0.66-0.29,0.92
    c-1.15,1.09-2.3,2.19-3.46,3.27c-0.15,0.14-0.19,0.27-0.15,0.46c0.28,1.54,0.55,3.09,0.82,4.63c0.1,0.57-0.2,1.02-0.73,1.06
    c-0.2,0.02-0.43-0.05-0.62-0.15c-1.43-0.72-2.86-1.46-4.28-2.2c-0.15-0.08-0.26-0.07-0.4,0c-1.43,0.74-2.86,1.48-4.3,2.21
    c-0.43,0.22-0.79,0.19-1.1-0.1C4.47,18,4.43,17.72,4.48,17.42c0.19-1.06,0.38-2.13,0.56-3.19c0.09-0.51,0.18-1.02,0.27-1.54
    c0.03-0.14-0.01-0.23-0.11-0.32c-1.13-1.07-2.25-2.14-3.38-3.2c-0.21-0.2-0.41-0.41-0.48-0.7V8.29z" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span>
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 20.62 20.28" width="20" fill="currentColor"
                                                style="enable-background:new 0 0 20.62 20.28;" xml:space="preserve">
                                                <g>
                                                    <path d="M1.35,8.29c0.1-0.18,0.16-0.39,0.3-0.52C1.79,7.64,2,7.56,2.19,7.53C3.8,7.3,5.4,7.07,7,6.85C7.18,6.83,7.28,6.76,7.36,6.6
    C8.08,5.18,8.8,3.75,9.52,2.33c0.2-0.39,0.51-0.57,0.91-0.52c0.34,0.04,0.55,0.24,0.69,0.53c0.7,1.38,1.4,2.76,2.09,4.14
    c0.12,0.25,0.28,0.36,0.56,0.39c1.56,0.2,3.11,0.44,4.66,0.65c0.38,0.05,0.67,0.22,0.79,0.58c0.12,0.36-0.01,0.66-0.29,0.92
    c-1.15,1.09-2.3,2.19-3.46,3.27c-0.15,0.14-0.19,0.27-0.15,0.46c0.28,1.54,0.55,3.09,0.82,4.63c0.1,0.57-0.2,1.02-0.73,1.06
    c-0.2,0.02-0.43-0.05-0.62-0.15c-1.43-0.72-2.86-1.46-4.28-2.2c-0.15-0.08-0.26-0.07-0.4,0c-1.43,0.74-2.86,1.48-4.3,2.21
    c-0.43,0.22-0.79,0.19-1.1-0.1C4.47,18,4.43,17.72,4.48,17.42c0.19-1.06,0.38-2.13,0.56-3.19c0.09-0.51,0.18-1.02,0.27-1.54
    c0.03-0.14-0.01-0.23-0.11-0.32c-1.13-1.07-2.25-2.14-3.38-3.2c-0.21-0.2-0.41-0.41-0.48-0.7V8.29z" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span>
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 20.62 20.28" width="20" fill="currentColor"
                                                style="enable-background:new 0 0 20.62 20.28;" xml:space="preserve">
                                                <g>
                                                    <path d="M1.35,8.29c0.1-0.18,0.16-0.39,0.3-0.52C1.79,7.64,2,7.56,2.19,7.53C3.8,7.3,5.4,7.07,7,6.85C7.18,6.83,7.28,6.76,7.36,6.6
    C8.08,5.18,8.8,3.75,9.52,2.33c0.2-0.39,0.51-0.57,0.91-0.52c0.34,0.04,0.55,0.24,0.69,0.53c0.7,1.38,1.4,2.76,2.09,4.14
    c0.12,0.25,0.28,0.36,0.56,0.39c1.56,0.2,3.11,0.44,4.66,0.65c0.38,0.05,0.67,0.22,0.79,0.58c0.12,0.36-0.01,0.66-0.29,0.92
    c-1.15,1.09-2.3,2.19-3.46,3.27c-0.15,0.14-0.19,0.27-0.15,0.46c0.28,1.54,0.55,3.09,0.82,4.63c0.1,0.57-0.2,1.02-0.73,1.06
    c-0.2,0.02-0.43-0.05-0.62-0.15c-1.43-0.72-2.86-1.46-4.28-2.2c-0.15-0.08-0.26-0.07-0.4,0c-1.43,0.74-2.86,1.48-4.3,2.21
    c-0.43,0.22-0.79,0.19-1.1-0.1C4.47,18,4.43,17.72,4.48,17.42c0.19-1.06,0.38-2.13,0.56-3.19c0.09-0.51,0.18-1.02,0.27-1.54
    c0.03-0.14-0.01-0.23-0.11-0.32c-1.13-1.07-2.25-2.14-3.38-3.2c-0.21-0.2-0.41-0.41-0.48-0.7V8.29z" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span>
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 20.62 20.28" width="20" fill="currentColor"
                                                style="enable-background:new 0 0 20.62 20.28;" xml:space="preserve">
                                                <g>
                                                    <path d="M1.35,8.29c0.1-0.18,0.16-0.39,0.3-0.52C1.79,7.64,2,7.56,2.19,7.53C3.8,7.3,5.4,7.07,7,6.85C7.18,6.83,7.28,6.76,7.36,6.6
    C8.08,5.18,8.8,3.75,9.52,2.33c0.2-0.39,0.51-0.57,0.91-0.52c0.34,0.04,0.55,0.24,0.69,0.53c0.7,1.38,1.4,2.76,2.09,4.14
    c0.12,0.25,0.28,0.36,0.56,0.39c1.56,0.2,3.11,0.44,4.66,0.65c0.38,0.05,0.67,0.22,0.79,0.58c0.12,0.36-0.01,0.66-0.29,0.92
    c-1.15,1.09-2.3,2.19-3.46,3.27c-0.15,0.14-0.19,0.27-0.15,0.46c0.28,1.54,0.55,3.09,0.82,4.63c0.1,0.57-0.2,1.02-0.73,1.06
    c-0.2,0.02-0.43-0.05-0.62-0.15c-1.43-0.72-2.86-1.46-4.28-2.2c-0.15-0.08-0.26-0.07-0.4,0c-1.43,0.74-2.86,1.48-4.3,2.21
    c-0.43,0.22-0.79,0.19-1.1-0.1C4.47,18,4.43,17.72,4.48,17.42c0.19-1.06,0.38-2.13,0.56-3.19c0.09-0.51,0.18-1.02,0.27-1.54
    c0.03-0.14-0.01-0.23-0.11-0.32c-1.13-1.07-2.25-2.14-3.38-3.2c-0.21-0.2-0.41-0.41-0.48-0.7V8.29z" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span>
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 20.62 20.28" width="20" fill="currentColor"
                                                style="enable-background:new 0 0 20.62 20.28;" xml:space="preserve">
                                                <g>
                                                    <path d="M10.32,4.07l0.09,0.18c0.49,0.96,0.98,1.92,1.45,2.9c0.35,0.7,0.92,1.11,1.71,1.21c0.95,0.12,1.89,0.26,2.84,0.39
    c0.18,0.03,0.37,0.05,0.55,0.08c-0.14,0.13-0.28,0.27-0.43,0.4c-0.69,0.66-1.39,1.32-2.09,1.98c-0.52,0.49-0.73,1.12-0.6,1.83
    c0.21,1.14,0.41,2.28,0.61,3.42c-1.09-0.55-2.17-1.11-3.25-1.67c-0.29-0.15-0.59-0.23-0.89-0.23c-0.3,0-0.61,0.08-0.9,0.23
    c-1.08,0.56-2.16,1.12-3.25,1.67l0.16-0.89l0.19-1.09l0.07-0.39c0.07-0.38,0.13-0.75,0.2-1.12c0.13-0.64-0.07-1.25-0.55-1.7
    c-0.52-0.49-1.04-0.98-1.56-1.48C4.35,9.47,4.01,9.15,3.67,8.83C4.85,8.67,6.03,8.5,7.21,8.34C8.06,8.22,8.49,7.69,8.7,7.27
    C9.24,6.2,9.78,5.14,10.32,4.07 M10.3,1.8c-0.34,0-0.61,0.18-0.78,0.53C8.8,3.75,8.08,5.18,7.36,6.6C7.28,6.76,7.18,6.83,7,6.85
    C5.4,7.07,3.8,7.3,2.19,7.53C2,7.56,1.79,7.64,1.65,7.77c-0.14,0.13-0.2,0.35-0.3,0.52v0.16c0.07,0.29,0.27,0.5,0.48,0.7
    c1.13,1.07,2.25,2.14,3.38,3.2c0.1,0.1,0.14,0.18,0.11,0.32c-0.1,0.51-0.18,1.02-0.27,1.54c-0.19,1.07-0.38,2.13-0.56,3.2
    c-0.05,0.3-0.01,0.59,0.23,0.81c0.18,0.16,0.37,0.25,0.58,0.25c0.16,0,0.34-0.05,0.52-0.14c1.43-0.74,2.87-1.47,4.3-2.21
    c0.07-0.04,0.14-0.06,0.2-0.06c0.06,0,0.13,0.02,0.2,0.06c1.42,0.74,2.85,1.48,4.28,2.2c0.17,0.08,0.37,0.15,0.56,0.15
    c0.02,0,0.04,0,0.06,0c0.53-0.04,0.83-0.49,0.73-1.06c-0.27-1.54-0.54-3.09-0.82-4.63c-0.03-0.2,0-0.32,0.15-0.46
    c1.16-1.09,2.3-2.18,3.46-3.27c0.28-0.26,0.41-0.56,0.29-0.92c-0.12-0.36-0.41-0.53-0.79-0.58c-1.56-0.21-3.11-0.45-4.67-0.65
    c-0.28-0.04-0.43-0.14-0.56-0.39c-0.68-1.39-1.39-2.76-2.09-4.14c-0.15-0.29-0.35-0.49-0.69-0.53C10.38,1.8,10.34,1.8,10.3,1.8
    L10.3,1.8z" />
                                                </g>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="btn-wrap">

                                      <a href="#" class="btn btn-reset btn-atc">
                                        
                                            <span class="atc-text add_to_cart_by_varient" varient_id="{{ product.variants[0].id }}">Add to Cart </span>
  

                        
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}
                        







                                            <span class="price-text">{{ product.price | money  }}</span>
                                        </a>
                                    </div>


<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'selling-plans.js' | asset_url }}" defer="defer"></script>

  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}




                                </div>
                            </div>
                       
                       
                        </div>






{% endfor %}








                                                      
                     
                       
                    </div>
                </div>
            </div>
        </div>
    </section>


<script>
// $( document ).ready(function() {

  
//       $(".add_to_cart_by_varient").click(function(event) {
       
//        console.log($(this).attr('varient_id'));
    
//           $.ajax({
//           url: '/cart/add.js',
//           type: 'post',
//           dataType: 'json',
//           data: 'quantity=1&id='+$(this).attr('varient_id'),
//           success: function (cart){

//             console.log("------------------------------------------------------------------"); 
//             console.log(cart.variant_id);
//             console.log("------------------------------------------------------------------"); 
            
            
//                  document.dispatchEvent(new CustomEvent('product:added', {
//                     bubbles: true,
//                     detail: {
//                       variant:cart.variant_id,
//                       quantity: '1',
//                     }
//                   }));


//                       var cartContents = fetch(window.Shopify.routes.root + 'cart.js')
//                         .then(response => response.json())
//                         .then(data => { return data });
                                  
//                        console.log(cart.variant_id);
            
//           }
//         });
     
//     });
     
// });





  
</script>




























{% schema %}
{
  "name": "Most Reviewed test",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
        {
            "type": "text",
            "id": "most_reviewd_heading",
            "label": "Heading"
            
          },
          {
             "type": "url",
              "id": "shop_all_anker",
              "label": "Button link"
          },
          {
             "type": "text",
              "id": "shop_all_text",
              "label": "Button Text"
          },
          {
           
             "type": "collection",
              "id": "slider_collection",
              "label": "Select Collection"
          }
 ],
  
  "presets": [
    {
      "name": "Most Reviewed test"
    }
  ]
}
{% endschema %}
